Week_4/Day_WE/
Week_4/Other_data_types_exercise/
Week_4/mtg-sdk-python/
Week_5/
Week_6/
Week_7/model-evaluation/
Week_7/model-training/
Week_7/supervised-ensemble-learning-techniques/
Week_7/supervised-learning/
Week_7/unsupervised-learning/

